<app-nav-menu-trigger label="Menu" (clickEvent)="menu.toggle($event)" />

<p-menu
  #menu
  [model]="categoriesMenu()"
  [popup]="true"
  [style.--menuSize.px]="300"
>
  <ng-template let-categoryMenuItem pTemplate="item">
    <app-nav-menu-item [navMenuItem]="categoryMenuItem" customClasses="items-center">
      <figure class="block relative size-6">
        <img
          class="absolute w-full h-full inset-0 object-contain"
          [ngSrc]="categoryMenuItem.icon!"
          [alt]="'category-menu-icon-' + categoryMenuItem.label"
          height="24"
          width="24"
        />
      </figure>
    </app-nav-menu-item>
  </ng-template>
</p-menu>
