<app-auth-form-container title="Sign in to your account" authAction="REGISTER">
  <form
    [formGroup]="form"
    (ngSubmit)="signUp()"
    class="flex flex-col gap-6 w-full items-center justify-center"
  >
    <section class="flex w-full flex-col gap-3">
      <label for="login-name" class="text-sm font-medium">Name</label>
      <input
        id="login-name"
        type="text"
        formControlName="name"
        class="border p-2 border-slate-300 focus:border-primary active:border-primary focus:outline-primary active:outline-primary rounded-lg"
      />
    </section>
    <section class="flex w-full flex-col gap-3">
      <label for="login-phone" class="text-sm font-medium">Phone</label>
      <input
        id="login-phone"
        type="text"
        formControlName="phone"
        class="border p-2 border-slate-300 focus:border-primary active:border-primary focus:outline-primary active:outline-primary rounded-lg"
      />
    </section>
    <app-auth-form class="w-full" />
    <section class="flex w-full flex-col gap-3">
      <label for="login-repeat-password" class="text-sm font-medium"
        >Repeat password</label
      >
      <input
        id="login-repeat-password"
        type="text"
        formControlName="repeatPassword"
        class="border p-2 border-slate-300 focus:border-primary active:border-primary focus:outline-primary active:outline-primary rounded-lg"
      />
    </section>
    <app-button
      label="Sign Up"
      class="w-full mt-4"
      customClasses="w-full font-medium"
      [ngClass]="{ 'cursor-not-allowed': $isLoading() }"
      [isLoading]="$isLoading()"
      buttonType="submit"
    />
    <p class="font-medium text-sm">
      Have an account?
      <a
        class="opacity-80 hover:text-primary hover:underline cursor-pointer"
        routerLink="/auth/login"
      >
        Sign In
      </a>
    </p>
  </form>
</app-auth-form-container>
