<button
  pButton
  type="button"
  class="flex items-center justify-center size-12 transition-all active:scale-95 rounded-full"
  (click)="menu.toggle($event)"
>
  @if (userData.image) {
  <figure
    class="relative size-full transition-colors hover:bg-slate-100 rounded-full overflow-hidden"
  >
    <img
      class="object-cover"
      [ngSrc]="userData.image"
      [alt]="'user-avatar-' + userData.name"
      priority
    />
  </figure>
  } @else { @if(userData.name | userInitialsAvatar; as userAvatar){
  <div
    class="flex items-center justify-center size-10 rounded-full text-white"
    [style.background-color]="userAvatar.bgColor"
  >
    <span class="uppercase text-xl">
      {{ userAvatar.initials }}
    </span>
  </div>
  } }
</button>

<p-menu #menu [model]="userMenu" [popup]="true" [style.--menuSize.px]="300" />
