<button
  pButton
  type="button"
  class="flex items-center justify-center size-12 p-[6px] transition-all active:scale-95 rounded-full"
  (click)="menu.toggle($event)"
>
  <app-user-avatar [userData]="userData" class="flex size-full" />
</button>

<p-menu
  id="userMenu"
  #menu
  [model]="userMenu()"
  [popup]="true"
  [style.--menuSize.px]="300"
>
  <ng-template let-userMenuItem pTemplate="item">
    @if (userMenuItem.label === "userProfile") {
    <a routerLink="user_profile" class="p-menuitem-link flex !px-2">
      <article class="flex items-center gap-3">
        <figure class="flex flex-shrink size-14">
          <app-user-avatar [userData]="userData" class="flex size-full" />
        </figure>
        <div class="flex flex-1 flex-col">
          <h3 class="font-medium line-clamp-1">{{ userData.name }}</h3>
          <p class="opacity-70 text-xs line-clamp-1">{{ userData.email }}</p>
        </div>
      </article>
    </a>
    }@else if (userMenuItem.routerLink) {
    <a
      [attr.tabindex]="-1"
      [routerLink]="userMenuItem.routerLink"
      routerLinkActive="text-primary"
      class="p-menuitem-link flex items-center"
    >
      <app-ng-icon [iconName]="userMenuItem.customIcon" />
      <span>{{ userMenuItem.label }}</span>
    </a>
    } @else if (userMenuItem.command) {
    <button [attr.tabindex]="-1" class="p-menuitem-link flex items-center">
      <app-ng-icon [iconName]="userMenuItem.customIcon" />
      <span>{{ userMenuItem.label }}</span>
    </button>
    } @else {
    <p-divider class="my-2" />
    }
  </ng-template>
</p-menu>
