<article
  class="flex items-center gap-5 rounded-full bg-white shadow-xl p-2 w-[280px] {{
    customClasses
  }}"
>
  <!-- TODO: Loading Skeleton -->
  <figure
    class="min-w-10 min-h-10 size-10 relative rounded-full overflow-hidden bg-primary/10"
  >
    <img
      class="object-cover"
      [ngSrc]="featuredCourier()?.image || ''"
      alt="featured_dish_image"
      priority
      fill
    />
  </figure>
  <div class="flex flex-1 flex-col gap-1">
    <h4 class="font-semibold line-clamp-1 text-sm">
      {{ featuredCourier()?.name }}
    </h4>
    <small class="opacity-70">Food Courier</small>
  </div>
  <button
    class="flex items-center justify-center size-10 rounded-full transition-all text-white bg-primary hover:bg-primary/70 active:scale-95"
  >
    <app-phone-icon />
  </button>
</article>
