<nav
  #navbar
  class="z-50 fixed flex w-full h-24 pt-4 border-b border-b-transparent transition-all duration-200"
  [ngClass]="{
    'bg-white/80 backdrop-blur-sm border-b-slate-200 pt-0 h-20': isScrolling()
  }"
>
  <div class="flex justify-between items-center container mx-auto">
    <app-logo />
    <ul class="flex gap-8">
      @for (navMenuItem of navMenu; track navMenuItem.label) {
      <li
        class="flex items-center justify-center gap-1 font-medium tracking-wider"
      >
        @if (navMenuItem.subMenu) {
        <app-dropdown-menu [label]="navMenuItem.label">
          @for (navSubMenuItem of navMenuItem.subMenu; track
          navSubMenuItem.label) {
          <app-nav-menu-item [navMenuItem]="navSubMenuItem">
            <app-check-icon />
          </app-nav-menu-item>
          }
        </app-dropdown-menu>
        } @else if (navMenuItem.label === "Menu") {
        <app-dropdown-menu [label]="navMenuItem.label" [size]="300">
          @for (categoryMenuItem of categoriesMenu(); track
          categoryMenuItem.label) {
          <app-nav-menu-item [navMenuItem]="categoryMenuItem">
            <figure class="block relative size-6">
              <img
                class="absolute w-full h-full inset-0 object-contain"
                [ngSrc]="categoryMenuItem.icon!"
                [alt]="'category-menu-icon-' + categoryMenuItem.label"
                height="24"
                width="24"
              />
            </figure>
          </app-nav-menu-item>
          }
        </app-dropdown-menu>
        } @else {
        <a
          [routerLink]="navMenuItem.link"
          class="transition-colors hover:text-primary"
        >
          {{ navMenuItem.label }}
        </a>
        }
      </li>
      }
    </ul>
    <div class="flex gap-1">
      <button
        class="flex items-center justify-center size-12 transition-all hover:bg-slate-100 active:scale-95 rounded-full"
      >
        <app-search-icon />
      </button>
      <app-bag-button />
      <app-button class="ml-2" label="Login" routerLink="auth">
        <app-logout-icon [size]="22" />
      </app-button>
    </div>
  </div>
</nav>
