<app-auth-form-container title="Sign in to your account" authAction="LOGIN">
  <form
    [formGroup]="form"
    (ngSubmit)="signIn()"
    class="flex flex-col gap-6 w-full items-center justify-center"
  >
    <app-auth-form class="w-full" />
    <app-button
      label="Sign In"
      class="w-full mt-4"
      customClasses="w-full font-medium"
      [ngClass]="{ 'cursor-not-allowed': $isLoading() }"
      [isLoading]="$isLoading()"
      buttonType="submit"
    />
    @if (formError && formError.httpError === 'WRONG_CREDENTIALS') {
    <a
      class="opacity-80 text-primary font-medium hover:underline text-sm cursor-pointer"
    >
      Forgot password?
    </a>
    }
    <p class="font-medium text-sm">
      Don't have an account?
      <a
        class="opacity-80 hover:text-primary hover:underline cursor-pointer"
        routerLink="/auth/register"
      >
        Sign Up
      </a>
    </p>
  </form>
</app-auth-form-container>
