<section class="flex w-full justify-between items-center pt-20">
  <div class="flex flex-col gap-4 max-w-[420px]">
    <div
      class="flex items-center justify-center w-max text-primary bg-primary/10 rounded-full h-12 px-6"
    >
      <span class="text-sm"> More than faster </span>
    </div>
    <h1 class="text-6xl font-extrabold font-rubik tracking-wider mt-8">
      Claim Best Offer on Fast
      <span class="font-lobster-two italic text-primary">Food</span> &
      <span class="font-lobster-two italic text-primary">Restaurants</span>
    </h1>
    <p>
      Our job is to filling your tummy with delicious food and with fast and
      free delivery
    </p>
    <div class="flex gap-4 mt-2">
      <app-button label="Get Started" />
      <button
        class="group flex items-center gap-3 transition-all active:scale-95"
      >
        <div
          class="flex items-center justify-center rounded-full bg-primary/10 group-hover:bg-primary text-black group-hover:text-white size-12 transition-colors"
        >
          <app-play-icon [size]="16" />
        </div>
        <span class="font-medium">Watch Video</span>
      </button>
    </div>
  </div>
</section>
