<article
  class="flex items-center gap-4 cursor-pointer transition-transform duration-200 active:scale-95"
>
  <!-- TODO: Loading Skeleton -->
  <div class="flex">
    @for (customer of customers(); track customer.id!) {
    <figure class="relative rounded-full size-16 -ml-6 first:ml-0">
      <img
        class="object-cover"
        [ngSrc]="customer.image || ''"
        [alt]="'happy-customer-' + customer.name"
        fill
      />
    </figure>
    }
  </div>
  @if (showDetailedReviews) {
  <div class="flex flex-col gap-1">
    <h4 class="font-semibold">Our Happy Customer</h4>
    <div class="flex items-center gap-2 font-medium text-sm">
      <app-star-icon class="text-amber-500 pb-1" [size]="14" />
      <span>4,5</span>
      <p class="opacity-70">
        ({{ reviewsCount() | hundredSuffixes : true }} Review)
      </p>
    </div>
  </div>
  } @else {
  <div
    class="flex items-center justify-center rounded-full size-16 -ml-10 bg-primary text-white z-10"
  >
    <span class="font-semibold">
      {{ reviewsCount() | hundredSuffixes : false }}
    </span>
  </div>
  }
</article>
