<article class="flex flex-col flex-1 items-start gap-6 pb-20">
  <div class="flex flex-1 items-center gap-6">
    <div class="flex flex-col items-start gap-6 flex-1">
      <app-section-layout-heading
        class="text-left"
        title="Get Started With Extaste Today!"
        subtitle="Download App"
      />
      <p class="text-balance">
        Discover food wherever and whenever and get your food delivered quickly.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center h-max rounded-2xl bg-primary text-white py-4 px-3 w-32 gap-4"
    >
      <figure
        class="flex items-center justify-center size-[70px] rounded-full bg-white"
      >
        <div class="relative size-5 bg-primary/40">
          <div
            class="absolute top-0 inset-0 mx-auto size-[6px] bg-white/40"
          ></div>
        </div>
        <div
          class="relative flex items-center justify-center size-5 bg-primary/30 text-white"
        >
          <div
            class="absolute top-0 inset-0 mx-auto size-[6px] bg-black/10"
          ></div>
          <small class="text-[6px]">food</small>
        </div>
      </figure>
      <p class="text-center text-sm font-medium">Your Food Has Arrived</p>
    </div>
  </div>
  <app-button label="Get The App" />
  <app-featured-courier class="ml-auto" />
</article>
